.comments {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  transition: all 0.5s;
  cursor: pointer;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .comments {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width: 1326px) {
  .comments {
    grid-template-columns: repeat(4,1fr);
  }
}